# Dataset
data/

# Model weights & vocab
weights/
*.pt

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Other generated folders/files
2.0.0
